.removeItem {
    padding: 5px;
    margin: 5px;
    border: 1px solid darkgreen;
    color: #fff;
    background: green;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.ContentAll {
    border-radius: 5px;
    margin-left: 40%;
    max-width: 270px;
    background: green;
    color: #fff;
    border: 1px solid darkgreen;
}