.jokes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    width: 40%;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}